@media (min-width:993px) {
    .features {
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        justify-content: space-between;
        padding-top: 71px;
        font-family: Montserrat, sans-serif;
    }
    .features-example__large {
        width: 100%;
    }
    .features-example__small {
        display: none !important;
    }
    .features-title__first--text{
        display: none !important;
    }
    .features-example__title {
        margin-left: 25px;
        @include font(Montserrat, 38px, normal, 700, rgba(141, 129, 172, 1), 50px);
    }
    .features-list__block {
        display: flex;
        justify-content: space-between;
    }
    .text-block__title {
        line-height: 21px;
        margin-bottom: 16px;
    }
    .features-list__block--text-block {
        display: flex;
        flex-direction: column;
    }
    .text-block__text {
        width: 390px;
        margin-bottom: 30px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 21px);
    }
    .features-list__block--img.first {
        margin-left: 90px;
        padding-right: 23px;
        height: 64px;
    }
    .features-list__block--img.second {
        margin-left: 91px;
        padding-right: 44px;
        height: 80px;
    }
    .features-list__block--img.third {
        margin-left: 106px;
        padding-right: 59px;
        height: 84px;
    }
    .features-list__block--img.four {
        margin-left: 101px;
        padding-right: 53px;
        height: 71px;
    }
    .features-example {
        align-items: flex-end;
        margin-left: 15px;
    }
    .exmImg {
        width: 100%;
    }
};

@media (max-width: 992px) and (min-width: 481px) {
    .features {
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        padding-top: 60px;
        flex-direction: column;
        font-family: Montserrat, sans-serif;
    }
    .features-example__large {
        width: 100%;
    }
    .features-example__small {
        display: none !important;
    }
    .features-title__first {
        margin-left: 25px;
        margin-bottom: 50px;
        text-align: center;
        @include font(Montserrat, 38px, normal, 700, rgba(141, 129, 172, 1), 50px);
    }
    .features-example>.features-example__title {
        display: none;
    }
    .features-list__block {
        display: flex;
    }
    .text-block__title {
        line-height: 21px;
        margin-bottom: 16px;
    }
    .features-list__block--text-block {
        flex-direction: column;
    }
    
    .text-block__text {
        margin-bottom: 30px;
        margin-right: 27px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 21px);
    }
    .features-example {
        align-items: flex-end;
        margin-left: 15px;
    }
    .exmImg {
        width: 700px;
        height: 519px;
        background-image: url("/dist/img/editor 1.png");
    }
    .features-list__block--img.first {
        margin-right: 23px;
        padding-left: 30px;
        height: 64px; 
    }
    .features-list__block--img.second {
        margin-right: 45px;
        padding-left: 31px;
        height: 80px; 
    }
    .features-list__block--img.third {
        margin-right: 58px;
        padding-left: 46px;
        height: 84px;
    }
    .features-list__block--img.four {
        margin-right: 52px;
        padding-left: 41px; 
        height: 71px;
    }
};

@media (max-width:480px) and (min-width:320px) {
    
    .features-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family:  Montserrat, sans-serif;
    }
    .features-example__large {
        display: none !important;
    }
    .features-example__small {
        width: 100%;
    }
    .features-example>.features-example__title {
        display: none;
    }
    .features-example__title {
        text-align: center;
        margin: 0 23px 0 23px;
        margin-bottom: 36px;
        @include font(Montserrat, 32px, normal, 700, rgba(141, 129, 172, 1), 38px);
    }
    .features-list__block--img {
        margin-bottom: 27px;
    }
    .text-block__title {
        font-family: Montserrat, sans-serif;
        margin-bottom: 16px;
    }
    .text-block__text {
        padding-bottom: 40px;
        margin: 0 26px 0 26px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 21px);
    }
    .features-title__first--text {
        text-align: center;
        margin-bottom: 36px;
        @include font(Montserrat, 32px, normal, 700, rgba(141, 129, 172, 1), 38px);
    }
};