@import "mixins";
.headSection {
    background-image: url("dist/img/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(141, 129, 172, 1);
}
@media (min-width:993px) {
    .nav-bar {
        display: flex;
        justify-content: space-around;
    }
    .nav-bar__left-side {
        display: flex;
        align-self: center;
        justify-content: space-between;
        margin-top: 41px;
        &:hover>.nav-bar__left-side--logo {
            background-image: url("dist/img/logo-hover\ 1.svg");
        }
    }
    .nav-bar__left-side:hover {
        color: rgb(255, 255, 255, 1);
    }
    .nav-bar__left-side--logo {
        background-image: url("dist/img/Logo\ 1.svg");
        width: 43px;
        height: 41px;
        margin-right: 17px;
    }
    .nav-bar__left-side--title {
        text-align: center;
        justify-content: center;
        align-self: center;
        font-size: 24px;
        line-height: 16px;
        font-family: Lato, sans-serif;
        font-weight: 700;
    }
    .rightSide {
        display: flex;
        justify-content: space-between;
        align-self: center;
        font-family: Montserrat, sans-serif;
    }
    .nav-button {
        display: none;
    }
    .burger-menu__nav-button {
        margin-top: 52px;
        padding-top: 11px;
        text-align: center;
        width: 145px;
        height: 37px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(141, 129, 172, 1);
        border-radius: 40px;
        align-content: center;
        cursor: pointer;
        line-height: 17px;
        font-weight: 700;
        &:hover {
            background-color: rgb(255, 255, 255, 1);
            color: rgba(141, 129, 172, 1);
        }
    }
    .hero-block {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
    }
    .hero-block__title {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
        @include font(Montserrat, 82px, normal, 700, rgba(255, 255, 255, 1), 82px);
    }
    .hero-block__description {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
        @include font(Lato, 30px, normal, 400, rgba(141, 129, 172, 1), 30px);
    }
    .hero-block__requirements {
        display: flex;
        justify-content: center;
        color: rgba(132, 142, 151, 1);
        font-family: Montserrat, sans-serif;
        margin-bottom: 426px;
    }
    .download-section__button {
        display: flex;
        justify-content: center;
        background-color: rgba(141, 129, 172, 1);
        width: 390px;
        height: 62px;
        border-radius: 40px;
        align-items: center;
        margin: auto;
        margin-top: -30px;
        @include font(Montserrat, 21px, nonmal, 700, rgba(255, 255, 255, 1), 21px);
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            border: 2px solid rgba(141, 129, 172, 1);
            color:rgba(141, 129, 172, 1);
        }
    }
    .download-section__trial {
        margin-top: 19px;
        display: flex;
        justify-content: center;
        margin-bottom: 66px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 16px);
    }
    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-self: center;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
    }
    .burger-menu_nav {
        display: flex;
        line-height: 17px;
        padding-bottom: 18px;
        margin-top: 41px;
    }
    .burger-menu_link {
        margin: 23px 23px 0 23px;
        text-align: center;
        color: rgba(141, 129, 172, 1);
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
        &:last-child{
            margin-right: 48px;
        }
    }
    .burger-menu_button {
        display: none;
    }
};

@media (max-width:992px) and (min-width:481px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        background-color: rgba(39, 38, 42, 1);
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        flex-wrap: wrap;
    }
    .nav-bar__left-side {
        display: flex;
        align-self: center;
        justify-content: space-between;
        margin-bottom: 7px;
        margin-top: 22px;
        &:hover>.nav-bar__left-side--logo {
            background-image: url("/src/img/logo-hover\ 1.svg");
        }
    }
    .nav-bar__left-side:hover {
        color: rgb(255, 255, 255, 1);
    }
    .nav-bar__left-side--logo {
        background-image: url("dist/img/Logo\ 1.svg");
        width: 43px;
        height: 41px;
        margin-right: 20px;
        margin-left: 20px;
        }
    .nav-bar__left-side--title {
        text-align: center;
        justify-content: center;
        align-self: center;
        font-size: 24px;
        line-height: 16px;
        font-family: Lato, sans-serif;
        line-height: 16px;
    }
    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 100%;
    }
    .burger-menu_nav {
        display: flex;
        line-height: 17px;
        padding-bottom: 18px;
    }
    .burger-menu_link {
        margin: 23px 23px 0 23px;
        text-align: center;
        color: rgba(141, 129, 172, 1);
        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
    .burger-menu_button {
        display: none;
    }
    .nav-button {
        margin-top: 30px;
        padding-top: 11px;
        margin-right: 20px;
        text-align: center;
        width: 145px;
        height: 37px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(141, 129, 172, 1);
        border-radius: 40px;
        align-content: center;
        cursor: pointer;
        font-weight: 700;
        &:hover {
            background-color: rgb(255, 255, 255, 1);
            color: rgba(141, 129, 172, 1);
        }
    }
    .burger-menu__nav-button {
        display: none;
    }
    .hero-block {
        display: flex;
        margin-top: 69px;
        flex-direction: column;
    }
    .hero-block__title {
        display: flex;
        justify-content: center;
        font-size: 72px;
        font-weight: 700;
        font-family: Montserrat, sans-serif;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 19px;
    }
    .hero-block__description {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 19px;
        @include font(Lato, 24px, normal, 400, rgba(141, 129, 172, 1), 30px);
    }
    .hero-block__requirements {
        display: flex;
        justify-content: center;
        margin-bottom: 426px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 14px);
    }
    .download-section__button {
        display: flex;
        justify-content: center;
        background-color: rgba(141, 129, 172, 1);
        width: 390px;
        height: 62px;
        border-radius: 40px;
        align-items: center;
        margin: auto;
        margin-top: -30px;
        @include font(Montserrat, 21px, normal, 700, rgba(255, 255, 255, 1), 21px);
        &:hover {
            background-color: rgba(255, 255, 255, 1);
            border: 2px solid rgba(141, 129, 172, 1);
            color:rgba(141, 129, 172, 1);
        }
    }
    .download-section__trial {
        margin-top: 19px;
        display: flex;
        justify-content: center;
        margin-bottom: 66px;
        @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 15px);
    }
};

@media (max-width:480px) and (min-width:320px) {
    .headSection {
        overflow: hidden;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        background-color: rgba(39, 38, 42, 1);
        padding-bottom: 38px;
        padding-left: 16px;
        position: relative;
    }
    .nav-bar__left-side {
        display: flex;
        align-self: center;
        justify-content: space-between;
        margin-top: 39px;
        &:hover>.nav-bar__left-side--logo {
            background-image: url("/src/img/logo-hover\ 1.svg");
        }
    }
    .nav-bar__left-side:hover {
        color: rgb(255, 255, 255, 1);
    }
    .nav-bar__left-side--logo {
        background-image: url("dist/img/Logo\ 1.svg");
        width: 43px;
        height: 41px;
    }
    .nav-bar__left-side--title {
        font-size: 24px;
        line-height: 16px;
        text-align: center;
        justify-content: center;
        align-self: center;
        display: none;
    }
    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-self: center;
        font-family: Montserrat, sans-serif;
    }
    .burger-menu_nav {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 20;
        display: flex;
        flex-flow: column;
        background-color: rgba(245, 245, 245, 1);
        overflow-y: auto;
        transition: 0.8s;
        width: 292px;
    }
    .burger-menu_active .burger-menu_nav {
        transform: translate(-50%, 0);
        top: 100%;
        transition: 0.4s;
    }
    .burger-menu_link {
        height: 88px;
        padding-left: 35px;
        padding-top: 29px;
        padding-bottom: 11px;
        position: relative;
        font-size: 26px;
        background-color: rgba(51, 51, 51, 1);
        color: rgba(255, 255, 255, 1);
            &:hover {
                color: rgba(141, 129, 172, 1);
            }
    }
    a.selected {
        display:inline-block;
    }
    a.selected::before {
        content: url("/dist/img/active.png") ' ';
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .item {
        background-color: rgba(51, 51, 51, 1);
    }
    .burger-menu_button {
        position: absolute;
        top: 39px;
        right: 25px;
        z-index: 30;
        width: 44px;
        height: 37px;
        transition: 0.4s;
    }
    .burger-menu_overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .burger-menu_lines::before,
    .burger-menu_lines::after,
    .burger-menu_lines {
        position: absolute;
        width: 26px;
        height: 3px;
        border-radius: 5px;
        background-color: white;
        transition: 0.4s;
    }
    .burger-menu_lines {
        top: 57px;
        right: 30px;
        transform: translate(-50%, -50%);
    }
    .burger-menu_lines::before {
    content: '';
        margin-left: 11px;
        width: 15px;
        top: -6px;
    }
    .burger-menu_lines::after {
    content: '';
        top: 6px;
    }
    .burger-menu_active .burger-menu_lines {
        transform: rotate(43deg);
    }
    .burger-menu_active .burger-menu_lines::before {
        top: 0;
        background-color: transparent;
    }
    .burger-menu_active .burger-menu_lines::after{
        top: 0;
        transform: rotate(-85deg);
    }  
    .nav-button {
        margin-right: 51px;
        margin-top: 39px;
        padding-top: 11px;
        text-align: center;
        width: 119px;
        height: 37px;
        background-color: rgba(141, 129, 172, 1);
        border-radius: 40px;
        align-content: center;
        cursor: pointer;
        @include font(Montserrat, 15px, normal, 700, rgba(255, 255, 255, 1), 17px);
    &:hover {
        background-color: rgb(255, 255, 255, 1);
        color: rgba(141, 129, 172, 1);
        }
    }
    .hero-block {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    }
    .hero-block__title {
        display: flex;
        justify-content: center;
        margin-bottom: 19px;
        @include font(Montserrat, 48px, normal, 700, rgba(255, 255, 255, 1), 48px);
    }
.hero-block__description {
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    text-transform: capitalize;
    margin: 0 11px 14px 11px;
    text-align: center;
    @include font(Lato, 18px, normal, 400, rgba(141, 129, 172, 1), 24px);
}
.hero-block__requirements {
    display: flex;
    justify-content: center;
    margin-bottom: 426px;
    @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 14px);
}
.download-section__button {
    display: flex;
    justify-content: center;
    background-color: rgba(141, 129, 172, 1);
    width: 290px;
    height: 45px;
    border-radius: 40px;
    align-items: center;
    margin: auto;
    margin-top: -30px;
    @include font(Montserrat, 18px, normal, 700, rgba(255, 255, 255, 1), 20px);
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid rgba(141, 129, 172, 1);
        color:rgba(141, 129, 172, 1);
    }
}
.download-section__trial {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    margin-bottom: 66px;
    @include font(Montserrat, 14px, normal, 400, rgba(132, 142, 151, 1), 14px);
}
.burger-menu__nav-button {
    display: none;
    }
};