@media (min-width:993px) {
    .main-description {
        margin-bottom: 70px;
    }
    .main-description__title {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 35px;
        @include font(Montserrat, 54px, normal, 700, rgba(99, 92, 115, 1), 54px);
    }
    .main-description__text {
        display: flex;
        justify-content: center;
        width: 861px;
        height: 64px;
        margin: auto;
        text-align: center;
        @include font(Lato, 21px, normal, 400, rgba(0, 0, 0, 1), 32px);
    }
    .git {
        display: flex;
        justify-content: center;
        height: 26px;
        margin-top: 13px;
        overflow: hidden;
    }
    .git-section {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(124, 124, 124);
        border-radius: 5px;
        width: 120px;
        height: 26px;
        margin-right: 13px;
    }
    .git-section__block {
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        width: 120px;
        height: 24px;
        margin: auto;
    }
    .git-section__block--button {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 15px;
        align-self: center;
    }
    .git-section__block--text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
    .git-section__block--stick {
        width: 0.5px;
        background-color: rgb(124, 124, 124);
    }
    .git-section__stats {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 70px;
    }
};

@media (max-width:992px) and (min-width:481px) {
    .main-description {
        margin-bottom: 70px;
    }
    .main-description__title {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 35px;
        @include font(Montserrat, 54px, normal, 700, rgba(99, 92, 115, 1), 54px);
    }
    .main-description__text {
        display: flex;
        justify-content: center;
        font-size: 21px;
        font-family: Lato, sans-serif;
        line-height: 32px;
        margin: 0 40px 0 40px;
        text-align: center;
    }
    .git {
        display: flex;
        justify-content: center;
        height: 26px;
        margin-top: 13px;
        overflow: hidden;
    }
    .git-section {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(124, 124, 124);
        border-radius: 5px;
        width: 120px;
        height: 26px;
        margin-right: 13px;
    }
    .git-section__block {
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        width: 120px;
        height: 24px;
        margin: auto;
    }
    .git-section__block--button {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 15px;
        align-self: center;
    }
    .git-section__block--text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
    .git-section__block--stick {
        width: 0.5px;
        background-color: rgb(124, 124, 124);
    }
    .git-section__stats {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
    }
};

@media (max-width:480px) and (min-width:320px) {
    .main-description__title {
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 27px;
        @include font(Montserrat, 26px, normal, 700, rgba(99, 92, 115, 1), 28px);
    }
    .main-description__text {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        font-family: Lato, sans-serif;
    }
    .git {
        display: flex;
        justify-content: center;
        height: 26px;
        margin-top: 13px;
        flex-wrap: wrap;
        margin-bottom: 120px;
    }
    .git-section {
        display: flex;
        justify-content: center;
        border: 1px solid rgb(124, 124, 124);
        border-radius: 5px;
        width: 120px;
        height: 26px;
        margin-bottom: 20px;
        margin-right: 13px;
    }
    .git-section__block {
        background-color: rgba(244, 244, 244, 1);
        display: flex;
        justify-content: center;
        border-radius: 5px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        width: 120px;
        height: 24px;
        margin: auto;
        &:nth-child(3) {
            overflow: visible;
        }
    }
    .git-section__block--button {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 15px;
        align-self: center;
    }
    .git-section__block--text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
    .git-section__block--stick {
        width: 0.5px;
        background-color: rgb(124, 124, 124);
    }
    .git-section__stats {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
    }

}