@mixin font($font-name, $font-size:16px, $font-style:normal, $font-weight:400, $font-color:rgba(78, 78, 78, 1), $line-height:1) {
    font-family: $font-name, sans-serif;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    color: $font-color;
    line-height: $line-height;
  }