@media (min-width:993px) {
    .pricing {
        padding-top: 83px;
        background-color: rgba(75, 59, 80, 1);
        font-family: Montserrat, sans-serif;
    }
    .pricing-title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 22px 112px 22px;
        @include font(Montserrat, 48px, normal, 700, rgba(255, 255, 255, 1), 50px);
    }
    .pricing-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }
    .pricing-list__block {
        display: flex;
        flex-direction: column;
        width: 256px;
        color: rgba(255, 255, 255, 1);
        &:nth-child(1) {
            margin-right: 0;
        }
    }
    .pricing-list__block--active {
        display: flex;
        margin: -35px 0 85px 0;
        flex-direction: column;
        width: 299px;
        color: rgba(255, 255, 255, 1);
        height: 457px;
    }
    .pricing-list__block--title {
        padding: 36px 0 36px 0;
        font-size: 24px;
        width: 256px;
        height: 97px;
        text-transform: uppercase;
        background-color: rgb(101, 87, 102, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .priceTitle-active {
        padding: 36px 0 36px 0;
        font-size: 24px;
        height: 97px;
        text-transform: uppercase;
        background-color: rgb(62, 48, 67, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-payment {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 20px;
        @include font(Montserrat, 60px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .payment-active {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 14px;
        @include font(Montserrat, 82px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .section-latency {
        margin-bottom: 38px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .section-stick {
        margin-bottom: 30px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
    .section-benefits {
       margin: 0 10px 0 10px;
        display: flex;
        line-height: 28px;
        text-align: center;
        flex-wrap: wrap;
    }
    .section-button {
        font-size: 15px;
        line-height: 15px;
        background-color: rgb(101, 87, 102, 1);
        width: 163px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
        margin-top: auto;
    }
    .pricing-list__block--section {
        height: 360px;
        display: flex;
        background-color: rgb(101, 87, 102, 0.8);
        align-items: center;
        flex-direction: column;   
        padding-bottom: 37px;    
    }
    .background-active {
        display: flex;
        justify-content: space-between;
        background-color: rgba(68, 54, 73, 1);
        align-items: center;
        flex-direction: column;
        margin-bottom: 18px;
    }
    .buyButton-active {
        margin-bottom: 37px;
        background-color: rgb(101, 87, 102, 1);
        width: 190px;
        height: 52px;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
    }
    .benefits-active {
        margin-bottom: 83px;
        line-height: 18px;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .priceStick-active {
        margin-bottom: 40px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
};

@media (max-width:992px) and (min-width:481px) {
    .pricing {
        padding-top: 83px;
        background-color: rgba(75, 59, 80, 1);
        font-family: Montserrat, sans-serif;
        padding-bottom: 94px;
    }
    .pricing-title {
        display: flex;
        justify-content: center;
        text-align: center;
        @include font (Montserrat, 42px, normal, 700, rgba(255, 255, 255, 1), 44px);
    }
    .pricing-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 25px;
        align-items: center;
        margin-top: 39px;
    }
    .pricing-list__block {
        display: flex;
        flex-direction: column;
        width: 257px;
        color: rgba(255, 255, 255, 1);
        &:first-child {
            margin-left: 42px;
            }
        }
    .pricing-list__block--title {
        font-size: 24px;
        height: 97px;
        text-transform: uppercase;
        background-color: rgb(101, 87, 102, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-payment {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 31px;
        margin-bottom: 20px;
        @include font(Montserrat, 60px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .section-latency {
        margin-bottom: 38px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .section-stick {
        margin-bottom: 30px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
    .priceStick-active {
        margin-bottom: 40px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
    .section-benefits {
        margin-bottom: auto;
        line-height: 18px;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .benefits-active {
        margin-bottom: 83px;
        line-height: 18px;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .section-button {
        margin-top: auto;
        font-size: 15px;
        line-height: 15px;
        background-color: rgb(101, 87, 102, 1);
        width: 163px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
    }
    .buyButton-active {
        margin-bottom: 37px;
        font-size: 15px;
        line-height: 15px;
        background-color: rgb(101, 87, 102, 1);
        width: 190px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
    }
    .pricing-list__block--section {
        height: 363px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(101, 87, 102, 0.8);
        align-items: center;
        flex-direction: column;
        padding-bottom: 37px;     
    }
    .background-active {
        display: flex;
        background-color: rgba(68, 54, 73, 1);
        align-items: center;
        flex-direction: column;
    }
    .payment-active {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 14px;
        @include font(Montserrat, 82px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .priceTitle-active {
        padding: 43px 0 43px 0;
        font-size: 24px;
        text-transform: uppercase;
        background-color: rgb(62, 48, 67, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pricing-list__block--active {
        display: flex;
        flex-direction: column;
        width: 299px;
        color: rgba(255, 255, 255, 1);
    }
};

@media (max-width:480px) and (min-width:320px) {
    .pricing {
        padding-top: 14px;
        background-color: rgba(75, 59, 80, 1);
        font-family: Montserrat, sans-serif;
    }
    .pricing-title {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 22px 32px 22px;
        @include font(Montserrat, 28px, normal, 700, rgba(255, 255, 255, 1), 42px);
    }
    .pricing-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 18px;
        padding-bottom: 20px;
    }
    .pricing-list__block {
        display: flex;
        flex-direction: column;
        width: 256px;
        color: rgba(255, 255, 255, 1);
    }
    .pricing-list__block--active {
        display: flex;
        flex-direction: column;
        width: 299px;
        color: rgba(255, 255, 255, 1);
    }
    .pricing-list__block--title {
        padding: 36px 0 36px 0;
        width: 257px;
        height: 97px;
        text-transform: uppercase;
        background-color: rgb(101, 87, 102, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    .priceTitle-active {
        padding: 36px 0 36px 0;
        font-size: 24px;
        height: 97px;
        text-transform: uppercase;
        background-color: rgb(62, 48, 67, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-payment {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 20px;
        @include font(Montserrat, 60px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .payment-active {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        margin-top: 14px;
        @include font(Montserrat, 82px, normal, 700, rgba(255, 255, 255, 1), 90px);
    }
    .section-latency {
        margin-bottom: 38px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .section-stick {
        margin-bottom: 30px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
    .section-benefits {
       margin: 0 10px 0 10px;
        display: flex;
        line-height: 28px;
        text-align: center;
        flex-wrap: wrap;
    }
    .section-button {
        margin-top: auto;
        font-size: 15px;
        line-height: 15px;
        background-color: rgb(101, 87, 102, 1);
        width: 163px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
    }
    .pricing-list__block--section {
        height: 360px;
        display: flex;
        justify-content: space-between;
        background-color: rgb(101, 87, 102, 0.8);
        align-items: center;
        flex-direction: column;
        padding-bottom: 37px;       
    }
    .background-active {
        display: flex;
        justify-content: space-between;
        background-color: rgba(68, 54, 73, 1);
        align-items: center;
        flex-direction: column;
    }
    .buyButton-active {
        margin-bottom: 37px;
        font-size: 15px;
        line-height: 15px;
        background-color: rgb(101, 87, 102, 1);
        width: 190px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        text-transform: uppercase;
    }
    .benefits-active {
        margin-bottom: 83px;
        line-height: 18px;
        text-align: center;
        padding: 0 20px 0 20px;
    }
    .priceStick-active {
        margin-bottom: 40px;
        background-color: rgb(115, 102, 147, 1);
        width: 60px;
        height: 5px;
    }
};