@import "headSection";
@import "reset";
@import "main";
@import "features";
@import "testimonials";
@import "pricing";

*{
    box-sizing: border-box;
    text-decoration: none;
  }
  .body {
    overflow: hidden;
  }