@media (min-width:993px) {
    .testimonials {
        background-image: url("dist/img/testmonials-bg\ 1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(75, 59, 80, 1); 
    }
    .testimonials-title {
        display: flex;
        justify-content: center;
        padding-top: 108px;
        margin-bottom: 82px;
        @include font(Montserrat, 48px, normal, 700, rgba(255, 255, 255, 1), 48px);
    }
    .testimonials-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .testimonials-list__block--logo {
        width: auto;
    }
    .testimonials-list__block {
        width: 30%;
        text-align: center;
        flex-direction: column;
        @include font (Lato, 16px, italic, 700, rgba(255, 255, 255, 1), 24px);
        &:nth-child(3) {
            margin-top: -13px;
        }
        &:nth-child(4) {
            margin-top: 10px;
        }
        &:nth-child(1) {
            margin-top: 7px;
        }
    }
    .testimonials-list__block--text {
        margin-top: 30px;
        margin-bottom: 116px;
    }
    .testimonials-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 29px;
    }
    .testimonials-description__text {
        align-self: center;
        text-align: center;
        margin-bottom: 18.5px;
        width: 887px;
        overflow-wrap: break-word;
        @include font(Lato, 14px, normal, 400, rgba(162, 145, 165, 1), 21px);
    }
    .testimonials-description___stick {
        background-color: rgba(100, 87, 102, 1);
        height: 2px;
        width: 780px;
        align-self: center;
    }
};

@media (max-width:992px) and (min-width:481px) {
    .testimonials {
        background-image: url("dist/img/testmonials-bg\ 1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(75, 59, 80, 1); 
    }
    .testimonials-title {
        padding-top: 108px;
        display: flex;
        justify-content: center;
        margin-bottom: 82px;
        text-align: center;
        @include font(Montserrat, 42px, normal, 700, rgba(255, 255, 255, 1), 44px);
    }
    .testimonials-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 3px 0 3px;
    }
    .testimonials-list__block--logo {
        width: auto;
    }
    .testimonials-list__block {
        width: 50%;
        flex-direction: column;
        text-align: center;
        @include font(Lato, 16px, italic, 700, rgba(255, 255, 255, 1), 24px);
        &:nth-child(2) {
            margin-top: -7px;
        }
        &:nth-child(3) {
            margin-top: -30px;
        }
        &:nth-child(4) {
            margin-top: 10px;
        }
    }
    .testimonials-list__block--text {
        margin-top: 30px;
        margin-bottom: 116px;
        text-align: center;
    }
    .testimonials-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 29px;
    }
    .testimonials-description__text {
        align-self: center;
        text-align: center;
        margin: 0 36px 18.5px 36px;
        overflow-wrap: break-word;
        @include font(Lato, 14px, normal, 400, rgba(162, 145, 165, 1), 21px);
    }
    .testimonials-description___stick {
        background-color: rgba(100, 87, 102, 1);
        height: 2px;
        width: 555px;
        align-self: center;
    }
};

@media (max-width:480px) and (min-width:320px) {

    .testimonials {
        background-image: url("dist/img/testmonials-bg\ 1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(75, 59, 80, 1); 
    }
    .testimonials-title {
        text-align: center;
        padding-top: 108px;
        display: flex;
        justify-content: center;
        margin-bottom: 82px;
        flex-direction: column;
        @include font(Montserrat, 42px, normal, 700, rgba(255, 255, 255, 1), 44px);
    }
    .testimonials-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .testimonials-list__block--logo {
        width: auto;
        margin-bottom: 28px;
    }
    .testimonials-list__block {
        flex-direction: column;
        text-align: center;
        @include font(Lato, 16px, italic, 700, rgba(255, 255, 255, 1), 24px);
    }

    .testimonials-list__block--text {
        margin: 0 25px 45px 25px;
        text-align: center;

    }
    .testimonials-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 29px;
    }
    .testimonials-description__text {
        align-self: center;
        text-align: center;
        margin: 0 10px 18.5px 10px;
        @include font(Lato, 14px, normal, 400, rgba(162, 145, 165, 1), 21px);
    }
    .testimonials-description___stick {
        background-color: rgba(100, 87, 102, 1);
        height: 2px;
        width: 245px;
        align-self: center;
    }
};